.intro {
  &::after {
    bottom: -30px;
    margin: 4rem 20% 0;
    width: 60%;
    content: '';
    display: block;
    height: 5px;
    background-color: #006dc7;
  }
}

/* ipad pro */
@media screen and (max-width: 1024px) {
  .home {
    .hero {
      height: 450px;
      &::before {
        height: 450px;
      }
    }

    .main {
      .headshot {
        width: 275px;
      }

      .intro {
        font-size: 1.4rem;
        width: 70%;
        &::after {
          height: 3px;
        }
      }
    }

    .contact {
      .contact-info {
        .contact-address {
          font-size: 1.1rem;
        }
      }

      .social-media {
        .facebook-logo {
          width: 35px;
        }
      }
    }
  }
}

/* ipad */
@media screen and (max-width: 768px) {
  .intro {
    &::after {
      margin: 2.5rem 20% 0;
      height: 2px;
    }
  }

  .home {
    .hero {
      height: 300px;
      &::before {
        height: 300px;
      }

      .welcome-wrapper {
        .welcome {
          font-size: 3.5rem;
        }
        .sub-welcome {
          font-size: 1.15rem;
        }
      }
    }

    .main {
      margin: 50px 60px 0;
      .headshot {
        width: 210px;
      }

      .name {
        font-size: 1.7rem;
      }
    }

    .contact {
      .contact-me {
        margin: 35px 0 25px;
        font-size: 1.4rem;
      }

      .contact-info {
        width: 70%;
        .contact-address {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/* iphone 12 */
@media screen and (max-width: 390px) {
  .intro {
    &::after {
      margin: 2rem 20% 0;
      height: 1px;
    }
  }
}
