.header {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  user-select: none;
  background-color: #fff;
  .logo-wrapper {
    width: 90px;
    .logo {
      width: 100%;
      border-radius: 10%;
    }
  }

  .nav {
    font-size: 18px;
    white-space: nowrap;
    &:hover &-link:not(:hover) {
      opacity: 0.25;
    }

    .nav-link-wrapper {
      margin: 0 20px;
      text-transform: capitalize;
      .nav-link {
        transition: opacity 0.4s;
        &:hover {
          border-bottom: 3px solid #006dc7;
        }
      }
    }

    .current {
      border-bottom: 3px solid #006dc7;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .logo-wrapper {
      width: 70px;
    }

    .nav {
      font-size: 14px;
      .nav-link-wrapper {
        margin: 0 10px;
      }
    }
  }
}
