@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

*:focus {
  outline: none;
}

.nav-link:hover {
  opacity: 1 !important;
}

.intro::after {
  bottom: -30px;
  margin: 4rem 20% 0;
  width: 60%;
  content: '';
  display: block;
  height: 5px;
  background-color: #006dc7;
}

/* ipad pro */
@media screen and (max-width: 1024px) {
  .intro::after {
    height: 3px;
  }
}

/* ipad */
@media screen and (max-width: 768px) {
  .intro::after {
    margin: 2.5rem 20% 0;
    height: 2px;
  }
}

/* iphone 12 */
@media screen and (max-width: 390px) {
  .intro::after {
    margin: 2rem 20% 0;
    height: 1px;
  }
}
